<!doctype html>
<html>	
	<head>
		<title>PollEndpoint - About</title>
		<!-- Site information -->
		<meta charset="utf-8">
		<meta name="Keywords" content="free,open-source,online questionnaire,online polls,platform,pollendpoint,high performance,easy to use, node.js,system,mobile compatible,responsive design,clean" />
		<meta name="description" content="PollEndpoint is a free, open-source questionnaire platform created by Licson Lee that is easy to use and fast. It's also compatible with mobile browsers that makes your questionnaires available in more platforms." />
		<meta name="author" content="Licson Lee" />
		<meta name="application-name" content="PollEndpoint" />
		<!-- Trackers -->
		<meta name="google-translate-customization" content="77fe593d432fcb9f-a556272c9dd07368-g8054283e1127bbec-1f" />
		<!-- For mobile phones -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Open Graph -->
		<meta property="og:title" content="PollEndpoint - About" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://pollendpoint-licson.rhcloud.com/about" />
		<meta property="og:image" content="https://pollendpoint-licson.rhcloud.com/assets/img/webimage.png" />
		<meta property="og:site_name" content="PollEndpoint" />
		<meta property="fb:admins" content="1098332345" />
		
		<link type="text/css" href="assets/css/bootstrap.min.css" rel="stylesheet">
		<link type="text/css" href="assets/css/bootstrap-responsive.min.css" rel="stylesheet">
		<link type="text/css" href="assets/css/page.css" rel="stylesheet">
		
		<script type="text/javascript" src="assets/js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container-narrow">
			<div class="navbar navbar-inverse">
				<div class="navbar-inner">
					<a class="brand" href="/">PollEndpoint</a>
					<ul class="nav">
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li class="dropdown">
							<a href="mailto:licson0729@gmail.com" data-toggle="dropdown">Contact <i class="carat"></i></a>
							<ul class="dropdown-menu">
								<li><a href="https://www.facebook.com/pages/Pollendpoint/487395521320925">Facebook page</a></li>
								<li><a href="https://github.com/licson0729/PollEndpoint">Github repo</a></li>
								<li><a href="mailto:licson0729@gmail.com?subject=PollEndpoint%20enquiries">Contact me</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		<div class="jumbotron">
			<h1>PollEndpoint</h1>
			<p class="lead">About</p>
		</div>
		<div itemscope itemtype="http://schema.org/AboutPage" class="content">
			<div class="jumbotron">
				<h2 itemprop="headline">It's for you to create questionnaires, surveys and polls in no time.</h2>
				<p>It's created for ease of use so if you have anything to complain please contact us.</p>
			</div>
			<div itemprop="mainContentOfPage">
				<div class="row-fluid">
					<div class="span6">
						<h3>About the creator</h3>
						<p>Hi! I'm the site's creator, Licson Lee. I've been working on some other projects before but they're not so useful so I'm not talking them at here. If you want to know more about me, you can check out my <a href="http://serve-licson.net23.net/">personal website</a>.</p>
						<p>I created PollEndpoint originally for my homework assignment because other online survey service doesn't match my requirements. So I made my own site for making online questionnaires and I found it pretty useful for others so I release it.</p>
						<p>Hope you like it.</p>
					</div>
					<div class="span6">
						<h3>Motivation</h3>
						<p>Before the creation of PollEndpoint, I have done some online surveys and found most of them not easy to use and hardcoded.</p>
						<p>Therefore, I want to create a survey service that is easy to use and manange. PollEndpoint is the final product that I've made.</p>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span6">
						<h3>Support &amp; Ideas</h3>
						<p>Currently we have a <a href="https://www.facebook.com/pages/Pollendpoint/487395521320925">facebook page</a> to collect ideas and user support. If you have any problems while using PollEndpoint, feel free to post at the page or email me <a href="mailto:licson0729@gmail.com">(licson0729@gmail.com)</a>.</p>
						<p>If you found problems with my code or want to suggest new features, you can submit an issue on <a href="https://github.com/licson0729/PollEndpoint">GitHub</a> or you can post it to our facebook page.</p>
					</div>
					<div class="span6">
						<h3>PollEndpoint is open-source</h3>
						<p>I think I forget to tell you something. PollEndpoint is open-source. If you're interested about how I wrote this, you can have a look at the repository on <a href="https://github.com/licson0729/PollEndpoint">GitHub</a></p>
					</div>
				</div>
			</div>
			<div id="disqus_thread"></div>
			<script type="text/javascript">
			/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			var disqus_shortname = 'pollendpoint'; // required: replace example with your forum shortname
			
			/* * * DON'T EDIT BELOW THIS LINE * * */
			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
		</div>
		<div class="footer">
			<p>&copy; PollEndpoint <%= '2013 - ' + (new Date).getFullYear() == 2013 ? '' : (new Date).getFullYear() %></p>
		</div>
		<div id="google_translate_element"></div>
		<script type="text/javascript">
		function googleTranslateElementInit(){
			new google.translate.TranslateElement({pageLanguage: 'en', multilanguagePage: true, gaTrack: true, gaId: 'UA-39218046-1'}, 'google_translate_element');
		}
		</script>
		<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
		<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-39218046-1']);
		_gaq.push(['_trackPageview']);
		
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
		</script>
	</body>
</html>