<!doctype html>
<html>
	<head>
		<title>PollEndpoint</title>
		<!-- Site information -->
		<meta charset="utf-8">
		<meta name="Keywords" content="questionnaire,free,open-source,online questionnaire,online polls,platform,pollendpoint,high performance,easy to use, node.js,system,mobile compatible,responsive design,clean" />
		<meta name="description" content="PollEndpoint is a free, open-source questionnaire platform created by Licson Lee that is easy to use and fast. It's also compatible with mobile browsers that makes your questionnaires available in more platforms." />
		<meta name="author" content="Licson Lee" />
		<meta name="application-name" content="PollEndpoint" />
		<!-- Trackers -->
		<meta name="google-site-verification" content="7tZJPkxE94HA3d8m70Jukj68vU27sF0ITmwtVf_3jbA" />
		<meta name="google-translate-customization" content="77fe593d432fcb9f-a556272c9dd07368-g8054283e1127bbec-1f" />
		<meta name="msvalidate.01" content="6B39EBEDB520DC4C4679EBBADE7EB61D" />
		<!-- For mobile phones -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Open Graph -->
		<meta property="og:title" content="PollEndpoint" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://pollendpoint-licson.rhcloud.com/" />
		<meta property="og:image" content="https://pollendpoint-licson.rhcloud.com/assets/img/webimage.png" />
		<meta property="og:site_name" content="PollEndpoint" />
		<meta property="fb:admins" content="1098332345" />
		
		<link type="text/css" href="assets/css/bootstrap.min.css" rel="stylesheet">
		<link type="text/css" href="assets/css/bootstrap-responsive.min.css" rel="stylesheet">
		<link type="text/css" href="assets/css/page.css" rel="stylesheet">
		
		<script type="text/javascript" src="assets/js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
		<script>
		$(function(){
			$('li[title]').tooltip();
		});
		</script>
	</head>
	<body>
		<div class="container-narrow">
			<div class="navbar navbar-inverse">
				<div class="navbar-inner">
					<a class="brand" href="/">PollEndpoint</a>
					<ul class="nav">
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li class="dropdown">
							<a href="mailto:licson0729@gmail.com" data-toggle="dropdown">Contact <i class="carat"></i></a>
							<ul class="dropdown-menu">
								<li><a href="https://www.facebook.com/pages/Pollendpoint/487395521320925">Facebook page</a></li>
								<li><a href="https://github.com/licson0729/PollEndpoint">Github repo</a></li>
								<li><a href="mailto:licson0729@gmail.com?subject=PollEndpoint%20enquiries">Contact me</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="jumbotron" itemscope itemtype="http://schema.org/WPHeader">
				<h1 itemprop="name">PollEndpoint</h1>
				<p class="lead" itemprop="description">High performance, open-source questionnaire platform by Licson Lee.</p>
				<a class="btn btn-large btn-success" href="/create">Try it today!</a>
			</div>
			<div class="content">
				<form class="form-search" action="/search" method="get">
					<div class="input-append">
						<input type="text" class="input-medium search-query" name="q" placeholder="Search polls..." />
						<input type="submit" class="btn" value="Search" />
					</div>
				</form>
				<div class="row-fluid">
					<div class="span6">
						<h3>Latest Polls</h3>
						<% if(polls.latest.length){ %>
						<ul class="nav nav-pills nav-stacked">
						<%
							for(var i = 0; i < polls.latest.length; i++){
						%>
							<li title="Created at <%= polls.latest[i].created_at %>"><a href="question/<%= polls.latest[i].id %>"><i class="icon-th-list"></i> <%= polls.latest[i].name %></a></li>
						<% } %>
						</ul>
						<% } else { %>
						<em class="muted">No polls recently</em>
						<% } %>
					</div>
					<div class="span6">
						<h3>Most popular Polls</h3>
						<% if(polls.popular.length){ %>
						<ul class="nav nav-pills nav-stacked">
						<%
							for(var i = 0; i < polls.popular.length; i++){
						%>
							<li title="Created at <%= polls.popular[i].created_at %>"><a href="question/<%= polls.popular[i].id %>"><i class="icon-th-list"></i> <%= polls.popular[i].name %></a></li>
						<% } %>
						</ul>
						<% } else { %>
						<em class="muted">No polls recently</em>
						<% } %>
					</div>
				</div>
				<hr />
				<div class="row-fluid marketing">
					<div class="span6">
						<img src="assets/img/marketing-fast.png" />
						<h4>High Performance</h4>
						<p>PollEndpoint uses node.js, a platform for data-intensive applications, to handle the load. It's highly-scalable and event-driven that makes it fast and reliable.</p>
						
						<h4>Search engines optimized</h4>
						<p>PollEndpoint is optimized for search engines to allow your questions to be spread widely.</p>
						<p>We adopt the use of HTML5 microdata to let search engines have a better understanding of the questions.</p>
					</div>
					<div class="span6">
						<img src="assets/img/marketing-easy.png" />
						<h4>Easy to setup</h4>
						<p>No accounts required. Just create the questions and that's it. (Statistics are public to everyone)</p>
						
						<h4>User-friendly interface</h4>
						<p>Answer your questions in a natural way! No ads on every page and we'll never have ads.</p>
						<p>Also, we provide easy-to-read yet advanced statistics to you.</p>
						
						<h4>Follow us on Facebook!</h4>
						<p>We will post the notices on our Facebook page.</p>
						<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FPollendpoint%2F487395521320925&amp;send=false&amp;layout=standard&amp;width=200&amp;show_faces=true&amp;font=tahoma&amp;colorscheme=light&amp;action=recommend&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:80px;" allowTransparency="true"></iframe>
					</div>
				</div>
			</div>
			<div class="footer">
				<p>&copy; PollEndpoint <%= '2013 - ' + (new Date).getFullYear() == 2013 ? '' : (new Date).getFullYear() %></p>
			</div>
			<div id="google_translate_element"></div>
		</div>
		<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
		<script type="text/javascript">
		function googleTranslateElementInit(){
			new google.translate.TranslateElement({pageLanguage: 'en', multilanguagePage: true, gaTrack: true, gaId: 'UA-39218046-1'}, 'google_translate_element');
		}
		
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-39218046-1']);
		_gaq.push(['_trackPageview']);
		
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
		</script>
	</body>
</html>