<!doctype html>
<html>
	<head>
		<title>PollEndpoint</title>
		<!-- Site information -->
		<meta charset="utf-8">
		<meta name="Keywords" content="free,open-source,online questionnaire,online polls,platform,pollendpoint,high performance,easy to use, node.js,system,mobile compatible,responsive design,clean" />
		<meta name="description" content="PollEndpoint is a free, open-source questionnaire platform created by Licson Lee that is easy to use and fast. It's also compatible with mobile browsers that makes your questionnaires available in more platforms." />
		<meta name="author" content="Licson Lee" />
		<meta name="application-name" content="PollEndpoint" />
		<!-- Trackers -->
		<meta name="google-translate-customization" content="77fe593d432fcb9f-a556272c9dd07368-g8054283e1127bbec-1f" />
		<!-- For mobile phones -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Open Graph -->
		<meta property="og:title" content="PollEndpoint" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://pollendpoint-licson.rhcloud.com/thanks" />
		<meta property="og:image" content="https://pollendpoint-licson.rhcloud.com/assets/img/webimage.png" />
		<meta property="og:site_name" content="PollEndpoint" />
		<meta property="fb:admins" content="1098332345" />
		
		<link type="text/css" href="assets/css/bootstrap.min.css" rel="stylesheet">
		<link type="text/css" href="assets/css/bootstrap-responsive.min.css" rel="stylesheet">
		<link type="text/css" href="assets/css/page.css" rel="stylesheet" />
		
		<script type="text/javascript" src="assets/js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container-narrow">
			<div class="navbar navbar-inverse">
				<div class="navbar-inner">
					<a class="brand" href="/">PollEndpoint</a>
					<ul class="nav">
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li class="dropdown">
							<a href="mailto:licson0729@gmail.com" data-toggle="dropdown">Contact <i class="carat"></i></a>
							<ul class="dropdown-menu">
								<li><a href="https://www.facebook.com/pages/Pollendpoint/487395521320925">Facebook page</a></li>
								<li><a href="https://github.com/licson0729/PollEndpoint">Github repo</a></li>
								<li><a href="mailto:licson0729@gmail.com?subject=PollEndpoint%20enquiries">Contact me</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		<div class="jumbotron">
			<h1>PollEndpoint</h1>
			<p class="lead">Thanks for filling in this poll.</p>
		</div>
		<div class="content">
			<h2>Try PollEndpoint, an high performance, open-source question platform by Licson Lee.</h2>
			<div class="row-fluid marketing">
				<div class="span6">
					<h4>Hi Performance</h4>
					<p>PollEndpoint uses node.js, a platform for data-intensive applications, to handle the load. It's highly-scalable and event-driven that makes it fast and reliable.</p>
					
					<h4>Search engines optimized</h4>
					<p>PollEndpoint is optimized for search engines to allow your questions to be spread widely.</p>
					<p>We adopt the use of HTML5 microdata to let search engines have a better understanding of the questions.</p>
				</div>
				<div class="span6">
					<h4>Easy to setup</h4>
					<p>No accounts required. Just create the questions and that's it. (Statistics are public to everyone)</p>
					
					<h4>User-friendly interface</h4>
					<p>Answer your questions in a natural way! No ads on every page and we'll never have ads.</p>
				</div>
			</div>
		</div>
		<div class="footer">
			<p>&copy; PollEndpoint <%= '2013 - ' + (new Date).getFullYear() == 2013 ? '' : (new Date).getFullYear() %></p>
		</div>
		<script type="text/javascript">
		function googleTranslateElementInit(){
			new google.translate.TranslateElement({pageLanguage: 'en', multilanguagePage: true, gaTrack: true, gaId: 'UA-39218046-1'}, 'google_translate_element');
		}
		</script>
		<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
		<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-39218046-1']);
		_gaq.push(['_trackPageview']);
		
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
		</script>
	</body>
</html>