<!doctype html>
<html>
	<head>
		<title><%= meta[0].name %> - PollEndpoint</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="keywords" content="<%= meta[0].keywords %>,free online survey,free online questionnaire,pollendpoint,free online poll" />
		<meta name="description" content="<%= meta[0].desc %> Powered by PollEndpoint." />
		<meta name="google-translate-customization" content="77fe593d432fcb9f-a556272c9dd07368-g8054283e1127bbec-1f" />
		<meta property="og:title" content="<%= meta[0].name %> - PollEndpoint" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://pollendpoint-licson.rhcloud.com/question/<%= id %>" />
		<meta property="og:image" content="https://pollendpoint-licson.rhcloud.com/assets/img/webimage.png" />
		<meta property="og:site_name" content="PollEndpoint" />
		<meta property="fb:admins" content="1098332345" />
		<link type="text/css" href="../assets/css/bootstrap.min.css" rel="stylesheet">
		<link type="text/css" href="../assets/css/bootstrap-responsive.min.css" rel="stylesheet">
		<style type="text/css">
		body {
			padding-top: 20px;
			padding-bottom: 40px;
		}
		
		/* Custom container */
		.container-narrow {
			margin: 0 auto;
			max-width: 700px;
		}
		.container-narrow > hr {
			margin: 30px 0;
		}
		
		/* Main marketing message and sign up button */
		.jumbotron {
			margin: 20px 0;
			padding: 1em;
			text-align: center;
			box-shadow: 0px 0px 3em #ccc inset, 0px 0px 20px 5px #ccc;
		}
		.jumbotron h1 {
			font-size: 60px;
			line-height: 1;
		}
		.jumbotron .btn {
			font-size: 21px;
			padding: 14px 24px;
		}
		
		/* Supporting marketing content */
		.marketing {
			margin: 60px 0;
		}
		.marketing p + h4 {
			margin-top: 28px;
		}
		.question {
			border-bottom: #ccc 1px solid;
			padding: 1em;
			margin-bottom: 1em;
		}
		label.error {
			color: red;
			position:relative;
			left: 2em;
			top: 0;
		}
		</style>
		<script type="text/javascript" src="../assets/js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../assets/js/jquery.form.js"></script>
		<script type="text/javascript" src="../assets/js/jquery.validate.min.js"></script>
		<script>
		$(function(){
			$('#answer').validate({
				submitHandler:function(form){
					$('#answer').ajaxSubmit({
						dataType:'json',
						success:function(data){
							if(data.success){
								window.location.href = "/thanks";
							}
						}
					});
				}
			});
			
			if(window.location.search.indexOf('?created=1') > -1){
				$('#created_dialog').modal();
				$('#created_dialog .modal-body a.btn').attr('href','https://facebook.com/sharer/sharer.php?u='+window.location.href+'&t=Please%20%20do%20this%20poll%20for%20me.%20via%20@PollEndpoint');
			}
		});
		</script>
	</head>
	<body>
		<div class="container-narrow">
			<div class="masthead">
				<ul class="nav nav-pills pull-right">
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li class="dropdown">
						<a href="mailto:licson0729@gmail.com" data-toggle="dropdown">Contact</a>
						<ul class="dropdown-menu">
							<li><a href="https://www.facebook.com/pages/Pollendpoint/487395521320925">Facebook page</a></li>
							<li><a href="https://github.com/licson0729/PollEndpoint">Github repo</a></li>
							<li><a href="mailto:licson0729@gmail.com?subject=PollEndpoint%20enquiries">Contact me</a></li>
						</ul>
					</li>
				</ul>
				<h3 class="muted">PollEndpoint</h3>
			</div>
		<hr>
		<div class="jumbotron" itemscope itemtype="http://schema.org/WPHeader">
			<h1 itemprop="name"><%= meta[0].name %></h1>
			<p class="lead" itemprop="description"><%= meta[0].desc %></p>
		</div>
		<hr>
		<div>
			<a class="btn pull-right" href="../stats/<%= id %>">Statistics</a>
			<h2>Questions</h2>
			<form action="./<%= id %>/submit" method="POST" id="answer">
				<%
				for(var i = 0; i < questions.length; i++){
					var q = questions[i];
				%>
				<div class="question" itemscope itemtype="http://schema.org/Enumeration">
					<p class="lead"><% if(q.required){ %><span class="label label-important">*</span><% } %> <span class="muted"><%= i+1 %>.</span> <span itemprop="name"><%= q.name %></span></p>
					<% 
					switch(q.type){
						case "fillin":
					%>
					<input type="text" name="<%= q.id %>" placeholder="Type here..." class="<%= q.required ? 'required' : '' %>"/>
					<% 	break;
						
						case "mc":
						var choices = q.choices.split(',');
						
						for(var j = 0; j < choices.length; j++){
							var choice = choices[j];
					%>
					<label for="<%= q.id+'_'+j %>" class="radio">
						<input type="radio" name="<%= q.id %>" id="<%= q.id+'_'+j %>" value="<%= choice %>" class="<%= q.required ? 'required' : '' %>"/> <%= choice %>
					</label>
					<%
						}
						break;
						
						case "mmc":
						var choices = q.choices.split(',');
						
						for(var j = 0; j < choices.length; j++){
							var choice = choices[j];
					%>
					<label for="<%= q.id+'_'+j %>" class="checkbox">
						<input type="checkbox" name="<%= q.id %>[]" id="<%= q.id+'_'+j %>" value="<%= choice %>" class="<%= q.required ? 'required' : '' %>"/> <%= choice %>
					</label>
					<%
						}
						break;
					}
					%>
				</div>
				<% } %>
				<p>Question with <span class="label label-important">*</span> is required to finish.</p>
				<button class="btn btn-large">Submit</button>
			</form>
		</div>
		<hr>
		<div class="footer">
			<p>&copy; PollEndpoint <%= '2013 - ' + (new Date).getFullYear() == 2013 ? '' : (new Date).getFullYear() %></p>
		</div>
		<div class="modal hide fade" id="created_dialog">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>The poll was created!</h3>
			</div>
			<div class="modal-body">
				<p class="lead">Yon can do the followings</p>
				<p>Share through social networks</p>

				<a class="btn btn-primary btn-block" href="#">Share to Facebook</a>
				<a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= meta[0].name + ' - ' + meta[0].desc.replace(/\n|\r|\r\n/g,"") %>" data-via="LicsonLee" data-size="large">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

				<p class="lead">or</p>
				<p>Embed it to your blog / website</p>
				<p>Copy the embed code below</p>
				<textarea style="width: 100%;">&lt;iframe src=&quot;https://pollendpoint-licson.rhcloud.com/widget/<%= id %>&quot; width=&quot;100%&quot; height=&quot;400&quot; allowtransparency&gt;&lt;/iframe&gt;</textarea>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
			</div>
		</div>
		<div id="google_translate_element"></div>
		<script type="text/javascript">
		function googleTranslateElementInit(){
			new google.translate.TranslateElement({pageLanguage: 'en', multilanguagePage: true, gaTrack: true, gaId: 'UA-39218046-1'}, 'google_translate_element');
		}
		</script>
		<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
		<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-39218046-1']);
		_gaq.push(['_trackPageview']);
		
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
		</script>
	</body>
</html>