<% switch(type){case 'mmc':%><table class="table table-striped"><caption>Multiple Answers list</caption><thead><tr><th>#</th><th>Choices</th><th>Count</th></tr></thead><tbody>
<% for(var i = 0; i < data.length; i++){ %><tr><td><%= i+1 %></td><td><%= data[i].value %></td><td><%= data[i].count %></td></tr>
<% } %></tbody></table><% break;case 'fillin':%>
<script>
$(function(){
	$('#fillin-search').ajaxForm({
		dataType:'json',
		success:function(data){
			var table = $('#fillin-search + table');
			$('tbody tr',table).remove();
			$.each(data,function(i){
				$('tbody',table).append('<tr><td>$1</td><td>$2</td></tr>'.replace('$1',i+1).replace('$2',data[i].value));
			});
			if(data.length == 0){
				$('tbody',table).append('<tr><td rowspan="2"><em>No results avaliable.</em></td></tr>');
			}
		}
	});
});
</script>
<form method="get" action="./question/<%= id %>/search" id="fillin-search" class="form-search"><input type="text" class="input-medium search-query" name="q"><input type="submit" class="btn" value="Search"/></form><table class="table table-striped"><caption>Fill in answers</caption><thead><tr><th>#</th><th>Answers</th></tr></thead><tbody><% for(var i = 0; i < data.length; i++){ %><tr><td><%= i+1 %></td><td><%= data[i].value %></td></tr><% } %>
</tbody></table><% break;}%>