<!doctype html>
<html>
	<head>
		<title>Statistics for <%= meta.name %></title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="google-translate-customization" content="77fe593d432fcb9f-a556272c9dd07368-g8054283e1127bbec-1f" />
		<link type="text/css" href="../assets/css/bootstrap.min.css" rel="stylesheet">
		<link type="text/css" href="../assets/css/bootstrap-responsive.min.css" rel="stylesheet">
		<style type="text/css">
		body {
			padding-top: 20px;
			padding-bottom: 40px;
		}
		
		/* Custom container */
		.container-narrow {
			margin: 0 auto;
			max-width: 700px;
		}
		.container-narrow > hr {
			margin: 30px 0;
		}
		
		/* Main marketing message and sign up button */
		.jumbotron {
			margin: 60px 0;
			text-align: center;
		}
		.jumbotron h1 {
			font-size: 60px;
			line-height: 1;
		}
		.jumbotron .btn {
			font-size: 21px;
			padding: 14px 24px;
		}
		
		/* Supporting marketing content */
		.marketing {
			margin: 60px 0;
		}
		.marketing p + h4 {
			margin-top: 28px;
		}
		
		.chart {
			width: 90%;
			height: 300px;
			margin: 1em auto;
		}
		.modal .chart {
			width: 88%;
		}
		</style>
		<script type="text/javascript" src="../assets/js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../assets/js/flotr2.min.js"></script>
		<script type="text/javascript" src="../assets/js/jquery.form.js"></script>
		<script>
		$(function(){
			var update = function(){
				$.ajax({
					url:'./<%= id %>/time',
					dataType:'json',
					cache:false,
					success:function(data){
						if(data.length <= 1){
							$('#tips-overview').show(500);
						}
						Flotr.draw($('#date')[0],[{data:data,label:'Poll submitted'}],{
							title:'People answered per day',
							xaxis:{
								mode:'time',
								title:'Time'
							},
							yaxis:{
								min:0
							},
							mouse:{
								track:true,
								relative:true,
								trackFormatter:function(o){
									return o.y+' Persons';
								}
							},
							points:{
								show:true
							},
							lines:{
								show:true
							}
						});
					}
				});
				setTimeout(update,5000);
			};
			update();
			
			$('tr[data-id]').click(function(){
				var id = $(this).attr('data-id');
				$.ajax({
					url:'./question/'+id,
					cache:false,
					dataType:'json',
					success:function(data){
						if(data.html){
							$('#ques_dialog .modal-body :not(.chart)').remove();
							$('#ques_dialog .modal-body .chart').hide();
							$('#ques_dialog .modal-body').append(data.html);
							$('#ques_dialog').modal('show');
						}
						else {
							$('#ques_dialog .modal-body :not(.chart)').remove();
							$('#ques_dialog .chart').show();
							$('#ques_dialog').modal('show');
							setTimeout(function(){
								Flotr.draw($('#ques_dialog .chart')[0],data,{
									title:'Choices answered',
									xaxis:{
										showLabels:false
									},
									yaxis:{
										showLabels:false
									},
									pie:{
										show:true,
										explode:6
									},
									mouse:{
										track:true,
										relative:true,
										trackFormatter:function(o){
											return o.y+' Persons';
										}
									}
								});
							},300);
						}
					}
				});
			});	
		});
		</script>
	</head>
	<body>
		<div class="container-narrow">
			<div class="masthead">
				<ul class="nav nav-pills pull-right">
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li class="dropdown">
						<a href="mailto:licson0729@gmail.com" data-toggle="dropdown">Contact</a>
						<ul class="dropdown-menu">
							<li><a href="https://www.facebook.com/pages/Pollendpoint/487395521320925">Facebook page</a></li>
							<li><a href="https://github.com/licson0729/PollEndpoint">Github repo</a></li>
							<li><a href="mailto:licson0729@gmail.com?subject=PollEndpoint%20enquiries">Contact me</a></li>
						</ul>
					</li>
				</ul>
				<h3 class="muted">PollEndpoint</h3>
			</div>
		<hr>
		<div class="jumbotron">
			<h1>Statistics for <%= meta.name %></h1>
			<p class="lead">Public statistics</p>
		</div>
		<hr>
		<div>
			<ul class="nav nav-tabs" id="myTab">
				<li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
				<li><a href="#questions" data-toggle="tab">Questions</a></li>
			</ul>
			<div class="tab-content">
				<div id="overview" class="tab-pane active">
					<h3>Overview</h3>
					<div class="alert alert-block alert-info" style="display: none;" id="tips-overview">
						<a href="#" class="close" data-dismiss="alert">&times;</a>
						<strong>Pay attention!</strong>
						<p>The chart may not look as you expected because it's the first day since the poll was created.</p>
					</div>
					<div class="chart" id="date"></div>
					<% if(count.users !== 0){ %>
					<p class="lead">Users finished the poll: <%= count.users %></p>
					<p>Total question answered: <%= count.total %></p>
					<% } else { %>
					<em class="muted">No one has filled in the poll yet.</em>
					<% } %>
				</div>
				<div id="questions" class="tab-pane">
					<h3>Questions</h3>
					<div class="alert alert-block alert-info">
						<a href="#" class="close" data-dismiss="alert">&times;</a>
						<strong>Tips</strong>
						<p>Click on the rows to see more statistics about the question.</p>
					</div>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Question</th>
								<th>Type</th>
							</tr>
						</thead>
						<tbody>
							<% for(var i = 0; i < questions.length; i++){ %>
							<tr data-id="<%= questions[i].id %>">
								<td><%= i+1 %></td>
								<td><%= questions[i].name %></td>
								<td><%= questions[i].type.replace('fillin','Fill in').replace(/^mc/,'Multiple Choices').replace(/^mmc/,'Multiple Answers') %></td>
							</tr>
							<% } %>
						</tbody>
					<table>
				</div>
			</div>
		</div>
		<div class="modal hide fade" id="ques_dialog">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Detail</h3>
			</div>
			<div class="modal-body">
				<div class="chart"></div>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
			</div>
		</div>
		<hr>
		<div class="footer">
			<p>&copy; PollEndpoint <%= '2013 - ' + (new Date).getFullYear() == 2013 ? '' : (new Date).getFullYear() %></p>
		</div>
		<div id="google_translate_element"></div>
		<script type="text/javascript">
		function googleTranslateElementInit(){
			new google.translate.TranslateElement({pageLanguage: 'en', multilanguagePage: true, gaTrack: true, gaId: 'UA-39218046-1'}, 'google_translate_element');
		}
		</script>
		<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
		<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-39218046-1']);
		_gaq.push(['_trackPageview']);
		
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
		</script>
	</body>
</html>